/*Page d'accueil*/
html, body {
  font-family: roboto, sans-serif;
}

body {
  margin: 0px;
}

h1 {
  font-family: shrikhand;
}

h3, p {
  padding-left: 14px;
}

h3 {
  font-weight: bolder;
  margin-bottom: 0px;
}

button {
  border: 10px;
  border-radius: 30px;
  padding: 15px;
  background-image: linear-gradient(#FF79DA 0%, #9356DC 100%);
  color: white;
  margin-top: 10px;
}

.btn-arriere {
  position: absolute;
  left: -10px;
  top: 4px;
  color: black;
  font-size: 1.1em;
  line-height: 63px;
  padding: 0 2% 0 5%;
}

.ldr {
  position: fixed;
  display: flex;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  animation: 3s forwards;
}
.ldr__rd--1 {
  animation: 500ms forwards;
}
.ldr__rd--2 {
  animation: 200ms 1.5s forwards;
}
.ldr__it {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 60px;
  background: white;
}
.ldr__it__feui {
  position: absolute;
  z-index: 3;
  color: #FF79DA;
}
.ldr__it__feui--1 {
  right: 6px;
  top: 37px;
  transform: rotate(-50deg);
  opacity: 2;
  animation: 150ms 0.5s forwards;
}
.ldr__it__feui--2 {
  right: 60px;
  top: 40px;
  z-index: 4;
  transform: rotate(-80deg);
  opacity: 2;
  animation: 150ms 0.6s forwards;
}
.ldr__it__verre {
  position: absolute;
  z-index: 2;
  color: #9356DC;
  top: 15px;
  right: 30px;
  justify-content: center;
  align-items: center;
  transform: rotate(12deg);
  opacity: 2;
  animation: 500ms forwards;
}
.ldr__it__couv {
  position: absolute;
  z-index: 2;
  color: #92D9E0;
  top: 65px;
  right: 35px;
  justify-content: center;
  align-items: center;
  transform: rotate(-12deg);
  opacity: 2;
  animation: 300ms forwards;
}

.header__logo {
  width: 100%;
  height: 70px;
  text-align: center;
}
.header__logo img {
  width: 290px;
  margin-top: 10px;
}
.header__localisation {
  display: flex;
  justify-content: center;
  background-color: #cfcfcf;
  width: 100%;
  height: 40px;
  padding-top: 5px;
  padding-bottom: 17px;
}
.header__localisation__gps {
  font-size: 20px;
  margin-top: 8px;
  margin-right: 12px;
  margin-left: 45px;
}
.header__localisation__ville {
  border: none;
  background-color: #cfcfcf;
  font-weight: bold;
}
.header__presentation {
  text-align: center;
  background-color: #e5e5e5;
  margin-top: -17px;
  padding-top: 15px;
  padding-bottom: 45px;
}
.header__presentation h2 {
  font-size: 20px;
}

.fonction {
  text-align: center;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 20px;
}
.fonction h2 {
  margin: auto;
}
.fonction__liste {
  margin: 0px 15px;
  padding-top: 20px;
}
.fonction__liste__image {
  display: flex;
  align-items: center;
  border: 1px #e5e5e5 solid;
  border-radius: 20px;
  box-shadow: 1px 3px 4px 3px #797777;
  background-color: #e5e5e5;
  margin-bottom: 30px;
  width: 100%;
}
.fonction__liste__image i {
  color: #949090;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 20px;
}
.fonction__liste__image__nombre {
  background-color: #9356DC;
  color: white;
  line-height: 0.5;
  border-radius: 25px;
  width: 10px;
  height: 10px;
  margin-left: -15px;
  padding: 10px;
}
.fonction__liste__image__titre {
  padding-right: 45px;
  font-size: 20px;
  font-weight: bold;
}

.restaurants {
  background-color: #e5e5e5;
}
.restaurants__choix {
  background-color: white;
  box-shadow: 1px 3px 4px 3px #e5e5e5;
  border-radius: 17px;
  margin: 15px auto;
  height: 250px;
}
.restaurants__choix__nouveau {
  background-color: #99E2D0;
  border-radius: 3px;
  color: green;
  position: absolute;
  text-align: center;
  margin: 4% 0% 0% 75%;
  padding: 10px;
  font-size: 12px;
}
.restaurants__choix a {
  text-decoration: none;
}
.restaurants__choix img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 75%;
  object-fit: cover;
  cursor: pointer;
}
.restaurants__choix__legende {
  display: flex;
}
.restaurants__choix__legende__description {
  cursor: pointer;
  color: black;
}
.restaurants__choix__legende__description h3 {
  margin: 5px 0px;
}
.restaurants__choix__legende__description p {
  margin-top: 5px;
}
.restaurants__choix__legende__like {
  position: absolute;
  cursor: pointer;
  margin-left: 465px;
  font-size: 21px;
  color: black;
  margin-top: 10px;
}

.footer {
  background-color: #292828;
  color: white;
  text-align: center;
  margin-top: -20px;
}
.footer__titre h4 {
  font-family: shrikhand;
  font-size: 20px;
  margin-top: 17px;
}
.footer i {
  margin-right: 10px;
}
.footer p a {
  color: white;
  text-decoration: none;
}
.footer a {
  margin-left: 10px;
}

/*# sourceMappingURL=styles.css.map */
