button{
    border: 10px;
    border-radius: 30px;
    padding: 15px;
    background-image: linear-gradient(#FF79DA 0%,#9356DC 100%); 
    color: white;
    margin-top: 10px;
}

.btn-arriere{
    position: absolute;
    left: 0px; /*Mettre -10px mais ne fonctionne pas quand je mets sur Visual*/
    top: 0px;  /*Mettre 4px mais ne fonctionne pas quand je mets sur Visual*/
    color:black;
    font-size: 1.1em;
    line-height: 63px; 
    padding: 0 2% 0 5%;
}






 
