button{
    border: 10px;
    border-radius: 30px;
    padding: 15px;
    background-image: linear-gradient(#FF79DA 0%,#9356DC 100%); 
    color: white;
    margin-top: 10px;
}

/*.btn-arriere{
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: -10px; 
    top: 4px;  
    color:black;
    font-size: 1.1em;
    line-height: 63px; 
    padding: 0 2% 0 5%;
} Ne fonctionne plus*/







 
