.button{
    border: 10px;
    border-radius: 30px;
    padding: 15px;
    background-image: linear-gradient(#FF79DA 0%,#9356DC 100%); 
    color: white;
    margin-top: 10px;
    cursor: pointer;
}

.btn-arriere{
    position: absolute;
    justify-content: space-between;
    left: -10px; 
    top: 4px;  
    color:black;
    font-size: 1.1em;
    line-height: 63px; 
    padding: 0 2% 0 5%;
} 

.menu{
    &__bouton{
        text-align: center;
        border: 10px;
        border-radius: 30px;
        padding: 15px;
        background-image: linear-gradient(#FF79DA 0%,#9356DC 100%); 
        color: white;
        margin-top: 25px;
        margin-left: 80px;
        margin-bottom: 60px;
        cursor: pointer;
        width: 170px;
        height: 20px;
    }
}







 
