.lieu{
    img{
        width: 100%;
        position: relative;
        @include desktop{
            height: 270px;
            object-fit: cover;
            border-top-right-radius: 40px;
            border-top-left-radius: 40px;
        }
    }
}