html, body 
{
    font-family: $ft-roboto;
}

body
{
    margin: 0px;
}

h1
{
    font-family: shrikland;
}

h3, p
{
    padding-left: 14px;
}

h3
{
    font-weight: bolder;
    margin-bottom: 0px;
}

