html, body 
{
    font-family: $ft-roboto;
}

.body-restaurant
{
    margin: 0px;
    @include desktop{
        max-width: 1280px;
        margin: 0 auto;
    }
    @include tablet{
        width: 100%;
        margin: auto;
    }
}

h1
{
    font-family: shrikland;
}

h3, p
{
    padding-left: 14px;
    @include tablet{
        font-size: 1em;
    }
}

h3
{
    font-weight: bolder;
    margin-bottom: 0px;
}
