html, body 
{
    font-family: $ft-roboto;
}

body
{
    margin: 0px;
    @include desktop{
        width: 80%;
        margin: auto;
    }
    @include tablet{
        width: 80%;
        margin: auto;
    }
}

h1
{
    font-family: shrikland;
}

h3, p
{
    padding-left: 14px;
    @include desktop{
        padding-left: 4px;
    }
    @include tablet{
        padding-left: 4px;
    }
}

h3
{
    font-weight: bolder;
    margin-bottom: 0px;
}
