/*Couleurs*/
$clr-pri: #9356DC;
$clr-sec: #FF79DA;
$clr-ter: #99E2D0;
$clr-qua: white;
$clr-cin: black;
$clr-six: green;
$clr-button: linear-gradient($clr-sec 0%, $clr-pri 100%);
$clr-hover: #9356DC21;