/*Polices*/
$ft-roboto: 'Roboto', sans-serif;

/*Couleurs*/
$clr-pri: #9356DC;
$clr-sec: #FF79DA;
$clr-ter: #99E2D0;
$clr-qua: white;
$clr-cin: black;
$clr-six: green;
$clr-button: linear-gradient($clr-sec 0%, $clr-pri 100%);
$clr-hover: #9356DC21;
$clr-ft-img: #e5e5e5;
$clr-header: #cfcfcf;
$clr-ld-couv: #92D9E0;