.restaurants{
    background-color: #e5e5e5;
        &__choix{
        background-color: white;
        box-shadow: 1px 3px 4px 3px #e5e5e5;
        border-radius: 17px;
        margin: 15px auto;
        height: 250px;
        }
        &__nouveau{
            background-color: #99E2D0;
            border-radius: 3px;
            color: green;
            position: absolute;
            text-align: center;
            margin: 4% 0% 0% 75%;
            padding: 10px;
            font-size: 12px;
        }
        a{
            text-decoration: none;
        }
        img{
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            width: 100%;
            height: 75%;
            object-fit: cover;
            cursor: pointer;
        }
        &__legende{
            display: flex;
            &__description{
                cursor: pointer;
                color: black;
                h3{
                    margin: 5px 0px;
                }
                p{
                    margin-top: 5px;
                }
            }
            &__like{
                position: absolute;
                cursor: pointer;
                margin-left: 465px;
                font-size: 21px;
                color: black;
                margin-top: 10px;
            }
        }
    }