.header{
    &__logo{
        width: 100%;
        height: 70px;
        text-align: center;
        img{
            width: 290px;
            margin-top: 10px;
        }
    }
    &__localisation{
        display: flex;
        justify-content: center;
        background-color: $clr-header;
        width: 100%;
        height: 40px;
        padding-top: 2px;
        padding-bottom: 19px;
        @include desktop{
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
        }
        @include tablet{
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
        }
        &__gps{
            font-size: 20px;
            margin-top: 8px;
            margin-right: 12px;
            margin-left: 45px;
        }
        &__ville{
            border: none;
            background-color: $clr-header;
            font-weight: bold;
            padding-left: 10px;
        }  
    }
    &__presentation{
        text-align: center;
        background-color: $clr-ft-img;
        margin-top: -17px;
        padding-top: 15px;
        padding-bottom: 45px;
        @include desktop{
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
        }
        @include tablet{
            border-bottom-left-radius: 40px;
            border-bottom-right-radius: 40px;
        }
        h2{
            font-size: 20px;
        }
    }
}