.restaurant{
    .menu{
    display: flex;
    flex-direction: column;
    background-color: #e5e5e5;
        h2{
            margin-top: 10px;
            margin-left: 10px;
            font-weight: normal;
            font-size: 20px;
            width: fit-content;
        }
        h2::after{
            content: "";
            border-bottom: 2px solid $clr-ter;
            display: block;
            width: 40px;
        }
        
        &__entree, &__plat, &__dessert{
            
            &__titre{
                display: flex;
                flex-direction: column;
                cursor: pointer;
                margin-top: 10px;
                height: 75px;
                background-color: $clr-qua;
                border-radius: 15px;
                width: 92%;
                margin-left: 10px;
                h3{
                    margin-top: 12px;
                }
                p{
                    margin-top: 5px; 
                }
                &__tarif{
                    position: absolute;
                    margin-left: 80%;
                    margin-top: 11%;
                    font-weight: bold;
                }
            }
        }
    }
}