/*Nom du restaurant + Coeur*/
.restaurant{
    background-color: #e5e5e5;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -55px;
    position: relative;
    width: 100%;
    padding-bottom: 1px;
    &__titre{
        h1{
            font-weight: bold;
        }
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 15px;
        &__icone{
            line-height: 4.3;
        }
    }
}



    