/*Nom du restaurant + Coeur*/
.restaurant{
    background-color: #e5e5e5;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    margin-top: -55px;
    position: absolute;
    width: 100%;
    justify-content: space-between;
    &__titre{
        h1{
            font-weight: normal;
        }
        display: flex;
        justify-content: space-around;
        margin-left: -20px;
        margin-top: 10px;
        &__icone{
            line-height: 3;
            font-size: 25px;
            margin-right: 10px;
        }
    }
}


    